    <div class="container-fluid">
      <header class="header">
        <h3 class="text-muted">TIY Orlando Gradebook</h3>
      </header>
      <h2>Available Classes</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <h3>2015--SUMMER-iOS</h3>
        </li>
        <li class="list-group-item">2015--SUMMER-ROR</li>
        <li class="list-group-item">2015--SUMMER-FEE</li>
        <li class="list-group-item">ROR--2015--SPRING</li>
        <li class="list-group-item">iOs--2015--SPRING</li>
        <li class="list-group-item">FEE--2015--SPRING</li>
        <li class="list-group-item">FEE--2015--FALL</li>
      </ul>
    </div>
